@charset "UTF-8";

:root {
	--main-background-color: #df8333;
	--color-2: #D04172;
	--color-1: #A941D0;
}

body {
	background-color: var(--main-background-color);
	margin: 0;
	padding: 0;
	transition: background-color 0.4s ease;
}


/*
	------------------------------------------
	Section Section Section Section Section 
	------------------------------------------
 */
section {
	min-height: 40em;
}

.about-page {
	background-color: pink !important;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer > h4 {
	color: var(--color-1);
	transition: color 0.4s ease;
}


/*
	------------------------------------------
	Links Links Links Links Links Links Links
	------------------------------------------
 */
.link {
  color: var(--color-2);
  border-bottom: 2px solid var(--color-2);
  align-self: flex-end;
  font-family: "Helvetica Nue";
  text-decoration: none;
  transition: border-bottom 0.4s ease;
  width: 60%;
}

.links {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
  	justify-content: space-around;    
  	width: 100%
}

/*
	------------------------------------------
	Name Name Name Name Name Name Name Name Name 
	------------------------------------------
 */

.name-carrot {
	font-size: 50px;
	font-weight: normal;
	margin-right: 5px;
}

.name-charlie {
	font-size: 46px;
	font-weight: normal;
	margin-bottom: -60px;
}

.name-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.name-full {
	margin: 50px auto;
	position: relative;
}

.name-gallentine {
	font-family: "Helvetica Neue", serif;	
	font-size: 52px;
	font-weight: bold;
	margin-bottom: -2px;
	margin-left: 10px;
}

.name-james {
	font-family: "Helvetica Neue", serif;	
	font-size: 46px;
	font-weight: bold;
	margin-bottom: -50px;
}

.name-middle {
	color: var(--color-2);
	float: right;
	font-family: "Helvetica Neue", serif;	
	position: absolute;
	right: -30px;
	text-align: center;
	top: -40px;
	transform: rotate(35deg);
}

.name-proper {
	color: var(--color-1);
	transition: color 0.4s ease;
}

.name-shadow {
	background-color: #7B7676;
	filter: blur(7px);
	height: 8px;
	width: 265px;
}


/*
	------------------------------------------
	Media Media Media Media Media Media Media 
	------------------------------------------
 */
@media screen and (min-width: 720px) {
	/*
	------------------------------------------
	Links Links Links Links Links Links Links
	------------------------------------------
 */
  .link {
    text-align: center;
    margin: 0 50px;
    width: 33%;
  }
  
  .links {
  	align-self: center;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
  }

  /*
	------------------------------------------
	Name Name Name Name Name Name Name Name Name 
	------------------------------------------
 */
  .name-carrot {
		font-size: 75px;
	}

	.name-charlie {
		font-size: 81px;
		margin-bottom: -85px;
	}

	.name-full {
		margin-top: 100px;
	}

	.name-gallentine {
		font-size: 87px;
		margin-left: 30px;
	}

	.name-middle {
		right: -80px;
		top: -60px;
	}

	.name-james {
		font-size: 81px;
		margin-bottom: -80px;
	}

	.name-shadow {
		width: 450px;
	}
}