.link {
  color: #D04172;
  border-bottom: 2px solid #D04172;
  align-self: flex-end;
  font-family: "Helvetica Nue";
  text-decoration: none;
  width: 60%;
}

.links {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
  justify-content: space-around;    
  width: 100%
}

@media (min-width: 720px) {
  .link {
    text-align: center;
    margin: 0 50px;
    width: 33%;
  }
  
  .links {
  	align-self: center;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
  }
}