/*
* @Author: Charlie Gallentine
* @Date:   2018-07-25 21:30:26
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-08-20 13:45:17
*/

.page {
	display: none;
	height: 0;
}

/*
  ------------------------------------------
  Media Media Media Media Media Media Media 
  ------------------------------------------
 */
@media screen and (min-width: 720px) {
	.page {
		display: flex;
		justify-content: space-around;
		height: 800px;
	}

	.project {
	  	display: flex;
	  	justify-content: center;
	}

	.project_description {
		display: none;
		max-width: 300px;
		padding-left: 20px;
	}

	.project_thumbnail {
		border-radius: 10px;
		border: 2px solid #aaa;
		background-color: #888;
		max-height: 400px;
	}

	a {
		text-decoration: underline;
	}

	img {
		border-radius: 10px;
		height: 300px;
		padding: 20px;
		width: 200px;
	}
}
















