/*
* @Author: Charlie Gallentine
* @Date:   2018-07-24 21:46:46
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-08-20 16:54:59
*/

.link_to_media {
	font-size: 6em;
}
.link_to_media:hover {
	font-size: 7em;
	transition: 0.4s;
}

#media_links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 80%;
}