/*
* @Author: Charlie Gallentine
* @Date:   2018-07-24 21:35:13
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-08-21 18:21:57
*/

/*
  ------------------------------------------
  NavBar NavBar NavBar NavBar NavBar NavBar   
  ------------------------------------------
 */
nav {
  display: none;
}

/*
  ------------------------------------------
  Media Media Media Media Media Media Media 
  ------------------------------------------
 */
@media screen and (min-width: 720px) {
  nav {
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 4px #444;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  nav > a {
    padding-left: 20px;
    text-decoration: none;
    transition: .4s ease;
  }
}

