/*
* @Author: Charlie Gallentine
* @Date:   2018-07-24 21:41:33
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-08-20 16:54:36
*/
/*
  ------------------------------------------
  Name Name Name Name Name Name Name Name Name 
  ------------------------------------------
 */

.name-carrot {
  font-size: 50px;
  font-weight: normal;
  margin-right: 5px;
}

.name-charlie {
  font-size: 46px;
  font-weight: normal;
  margin-bottom: -60px;
}

.name-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.name-full {
  margin: 50px auto;
  position: relative;
  transition: color 0.4s ease;
}

.name-gallentine {
  font-family: var(--font-main);  
  font-size: 52px;
  font-weight: bold;
  margin-bottom: -2px;
  margin-left: 10px;
}

.name-james {
  font-family: var(--font-main);  
  font-size: 46px;
  font-weight: bold;
  margin-bottom: -50px;
}

.name-middle {
  color: var(--color-2);
  float: right;
  font-family: var(--font-main);  
  position: absolute;
  right: -40px;
  text-align: center;
  top: -15px;
  transform: rotate(35deg);
  transition: color 0.4s ease;
}

.name-proper {
  color: var(--color-1);
  transition: inherit;
}

.name-shadow {
  background-color: #7B7676;
  filter: blur(7px);
  height: 8px;
  width: 265px;
}


.link {
  color: var(--color-2);
  border-bottom: 2px solid var(--main-background-color);
  align-self: flex-end;
  font-family: var(--font-main);
  padding-bottom: 0;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 60%;
}


.links {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;    
  width: 100%
}


/*
  ------------------------------------------
  Media Media Media Media Media Media Media 
  ------------------------------------------
 */
@media screen and (min-width: 720px) {
/*
  ------------------------------------------
  Name Name Name Name Name Name Name Name Name 
  ------------------------------------------
 */
  #home-page {
    min-height: 1vh;
  }
    .name-carrot {
    font-size: 75px;
  }

  .name-charlie {
    font-size: 81px;
    margin-bottom: -85px;
  }

  .name-gallentine {
    font-size: 87px;
    margin-left: 30px;
  }

  .name-middle {
    right: -80px;
    top: -20px;
  }

  .name-james {
    font-size: 81px;
    margin-bottom: -80px;
  }

  .name-shadow {
    width: 450px;
  }

  /*
  ------------------------------------------
  Links Links Links Links Links Links Links
  ------------------------------------------
 */
  .link {
    color: var(--color-2);
    text-align: center;
    margin: 0 50px;
    width: 33%;
  }
  
  .links {
    align-self: center;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
  }

  .name_link:hover {
    transform: scale(1.5);
    transition: 0.4s;
  }


  .media-link {
    font-size: 6em;
  }

  .scrollLink:hover > .scrollLink-content {
    transform: scale(1.5);
  }
}

