@charset "UTF-8";

:root {
	--main-background-color: white; /*#df8333*/
	--color-2: black; /*#D04172*/
	--color-1: black; /*#A941D0*/
	--font-main: "Helvetica Neue", serif;
}

body {
	background: linear-gradient(white, black);
	background-color: var(--main-background-color);
	margin: 0;
	padding: 0;
	transition: background-color 0.4s ease !important;
}

/*
	------------------------------------------
	Section Section Section Section Section 
	------------------------------------------
 */
section {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	margin-bottom: 250px;
}

.about-page {
	background-color: var(--background-color) !important;	
}


.media-page {
	background-color: var(--background-color) !important;
}


.section-content {
	margin: 0 auto;
	width: 60%;
}


.media-page > .section-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer > h4 {
	color: var(--color-1);
	transition: color 0.4s ease;
}

p {
	font-family: var(--font-main);
}

/*
	------------------------------------------
	NavBar NavBar NavBar NavBar NavBar NavBar   
	------------------------------------------
 */
nav {
	display: none;
}


/*
	------------------------------------------
	Img Img Img Img Img Img Img Img Img Img Img 
	------------------------------------------
 */
img {
	border-radius: 10px;
	box-shadow: 4px 4px 3px #7B7676;
	float: left;
	height: auto;
	margin: 23px;
	max-width: 150px;
}

/*
	------------------------------------------
	Links Links Links Links Links Links Links
	------------------------------------------
 */
a {
	text-decoration: none;
}

.media-link-container:hover > .media-link {
	transform: scale(1.5);
}

.media-link {
	color: var(--main-background-color);
	display: block;
	font-size: 3em;
	transition: all 0.4s ease;
}


.link {
  color: var(--color-2);
  border-bottom: 2px solid var(--color-2);
  align-self: flex-end;
  font-family: var(--font-main);
  padding-bottom: 0;
  text-decoration: none;
	transition: all 0.4s ease;
  width: 60%;
}

.links {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-around;    
	width: 100%
}

.scrollLink:hover > .scrollLink-content {
	transform: scale(1.5);
}

/*
	------------------------------------------
	Name Name Name Name Name Name Name Name Name 
	------------------------------------------
 */

.name-carrot {
	font-size: 50px;
	font-weight: normal;
	margin-right: 5px;
	transition: inherit;
}

.name-charlie {
	font-size: 46px;
	font-weight: normal;
	margin-bottom: -60px;
	transition: inherit;
}

.name-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.name-full {
	margin: 50px auto;
	position: relative;
	transition: color 0.4s ease;
}

.name-gallentine {
	font-family: var(--font-main);	
	font-size: 52px;
	font-weight: bold;
	margin-bottom: -2px;
	margin-left: 10px;
	transition: inherit;
}

.name-james {
	font-family: var(--font-main);	
	font-size: 46px;
	font-weight: bold;
	margin-bottom: -50px;
	transition: inherit;
}

.name-middle {
	color: var(--color-2);
	float: right;
	font-family: var(--font-main);	
	position: absolute;
	right: -40px;
	text-align: center;
	top: -15px;
	transform: rotate(35deg);
	transition: inherit;
}

.name-proper {
	color: var(--color-1);
	transition: inherit;
}

.name-shadow {
	background-color: #7B7676;
	filter: blur(7px);
	height: 8px;
	width: 265px;
}


/*
	------------------------------------------
	Media Media Media Media Media Media Media 
	------------------------------------------
 */
@media screen and (min-width: 720px) {
/*
	------------------------------------------
	NavBar NavBar NavBar NavBar NavBar NavBar   
	------------------------------------------
 */
	nav {
	color: var(--color-2);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
}

	nav > a {
		color: var(--color-2);
		padding-left: 20px;
		text-decoration: none;
		transition: .4s ease;
	}

	nav > a > h5 {
		color: inherit;
	}
	.section-box {
		background-color: rgba(50, 50, 50, 0.5);
		box-shadow: 6px 6px 10px #444;
		padding: 50px;
	}

/*
	------------------------------------------
	Links Links Links Links Links Links Links
	------------------------------------------
 */
  .link {
  	color: var(--color-2);
    text-align: center;
    margin: 0 50px;
    width: 33%;
  }
  
  .links {
  	align-self: center;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
  }

  .media-link {
  	font-size: 6em;
  }

  /*
	------------------------------------------
	Name Name Name Name Name Name Name Name Name 
	------------------------------------------
 */
 	#home-page {
 		min-height: 1vh;
 	}
  	.name-carrot {
		font-size: 75px;
	}

	.name-charlie {
		font-size: 81px;
		margin-bottom: -85px;
	}

	.name-gallentine {
		font-size: 87px;
		margin-left: 30px;
	}

	.name-middle {
		right: -80px;
		top: -20px;
	}

	.name-james {
		font-size: 81px;
		margin-bottom: -80px;
	}

	.name-shadow {
		width: 450px;
	}
}