.link {
  color: #D04172;
  border-bottom: 2px solid #D04172;
  align-self: flex-end;
  text-decoration: none;
  width: 60%;
}

.links {
  border:2px solid green;
  justify-content: space-around;
  display: flex;
  flex-direction: column;    
  align-self: flex-end;
  width: 100%
}

@media (min-width: 720px) {
  .link {
    text-align: center;
    margin: 0 50px;
    width: 33%;
  }
  
  .links {
    flex-direction: row;
    align-self: center;
    width: 75%;
  }
}