.link {
  color: #D04172;
  border-bottom: 2px solid #D04172;
  text-decoration: none;
  width: 60%;
}

.links {
  display: flex;
  flex-direction: column;    
  align-self: flex-start;
  max-width: 320px;
  width: 100%
}

@media (min-width: 720px) {
  .link {
    text-align: center;
    margin: 0 50px;
    width: 250px;
  }
  
  .links {
    flex-direction: row;
    justify-content: center;
  }
}

