.name-carrot {
	font-size: 50px;
	font-weight: normal;
	margin-right: 5px;
}

.name-charlie {
	font-size: 56px;
	font-weight: normal;
	margin-bottom: -60px;
}

.name-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.name-full {
	margin: 50px auto;
	position: relative;
}

.name-gallentine {
	font-family: "Helvetica Neue", serif;	
	font-size: 62px;
	font-weight: bold;
	margin-bottom: -2px;
	margin-left: 10px;
}

.name-james {
	font-family: "Helvetica Neue", serif;	
	font-size: 56px;
	font-weight: bold;
	margin-bottom: -50px;
}

.name-middle {
	color: #D04172;
	float: right;
	font-family: "Helvetica Neue", serif;	
	font-size: 48px;
	position: absolute;
	right: -70px;
	text-align: center;
	top: -40px;
	transform: rotate(35deg);
}

.name-proper {
	color: #A941D0;
}

.name-shadow {
	background-color: #7B7676;
	filter: blur(7px);
	height: 8px;
	width: 315px;
}

@media (min-width: 720px) {
	.name-carrot {
		font-size: 75px;
	}

	.name-charlie {
		font-size: 81px;
		margin-bottom: -85px;
	}

	.name-full {
		margin-top: 100px;
	}

	.name-gallentine {
		font-size: 87px;
		margin-left: 30px;
	}

	.name-middle {
		right: -100px;
		top: -80px;
	}

	.name-james {
		font-size: 81px;
		margin-bottom: -80px;
	}

	.name-shadow {
		width: 450px;
	}
}